[submodule "modules/nixos/homemanager/gui/fcitx5/rime-config/share/rime-data"]
	path = modules/nixos/homemanager/gui/fcitx5/rime-config/share/rime-data
	url = https://github.com/fangjh13/Rime.git
[submodule "modules/public/homemanager/tmux/themepack"]
	path = modules/public/homemanager/tmux/themepack
	url = https://github.com/jimeh/tmux-themepack.git
